nav {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}
nav ul {
  list-style: none;
  font-size: 20px;
}
nav li {
  display: inline-block;
  padding: 5px;
  margin-right: 25px;
}
li a {
  text-decoration: none;
  color: black;
}
h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-size: 95px;
}
p {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  margin-top: 80px;
}
button {
  border-radius: 20px;
  border: none;
  font-family: "Poppins", serif;
}
.homepage {
  background-image: url("pexels-image1.jpg");
  background-size: cover;
  height: 900px;
  text-align: center;
  padding: 300px;
  color: white;
}
.navBtn {
  padding: 5px 15px;
  font-size: 18px;
}
.mainBtn,
.aboutBtn,
.indexBtn {
  padding: 15px 35px;
  margin: 30px;
  font-size: 20px;
}
.icon i {
  padding: 15px;
  font-size: 45px;
  background-color: black;
  color: white;
}
.aboutpage {
  margin-top: 100px;
}
.aboutImg {
  width: 400px;
}
.aboutParagraph {
  margin-top: 250px;
}
.collectionpage {
  background-color: black;
  color: white;
}
