nav {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}
nav ul {
  list-style: none;
  font-size: 20px;
}
nav li {
  display: inline-block;
  padding: 5px;
  margin-right: 25px;
}
li a {
  text-decoration: none;
  color: black;
  transition: 200ms ease-in;
}
li a:hover {
  text-decoration: underline;
}
h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-size: 60px;
}
h1,
.storeName {
  font-size: 95px;
  visibility: hidden;
}
p {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  margin-top: 80px;
}
button {
  border-radius: 20px;
  border: none;
  font-family: "Poppins", serif;
}
.logo a {
  font-family: "Playfair Display", serif;
  color: black;
  font-size: 34px;
  text-decoration: none;
  margin-left: 25px;
}
.homepage {
  background-image: url("pexels-image1.jpg");
  background-size: cover;
  height: 900px;
  text-align: center;
  padding: 300px;
  color: white;
}
.navBtn {
  padding: 5px 15px;
  font-size: 18px;
  background-color: black;
  color: white;
  box-shadow: 2px 4px 6px black;
  transition: transform 0.3s ease-in-out;
}
.navBtn:hover {
  transform: scale(1.2);
}
.mainBtn,
.aboutBtn,
.indexBtn {
  padding: 15px 35px;
  margin: 30px;
  font-size: 20px;
  box-shadow: 2px 4px 6px black;
  transition: transform 0.3s ease-in-out;
}
.mainBtn:hover {
  transform: scale(1.2);
}
.aboutBtn:hover {
  transform: scale(1.2);
}
.aboutBtn {
  color: white;
  background-color: black;
}
.icon i {
  padding: 15px;
  margin: 40px;
  font-size: 2em;
  color: black;
}
.aboutpage {
  margin-top: 40px;
}
.aboutImg {
  width: 300px;
  border-radius: 10px;
}
.collection-btn {
  background-color: black;
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 20px;
}
.sale-paragraph {
  font-size: 40px;
  padding: 40px 20px;
  background-color: white;
  color: black;
}
.collectionpage {
  background-color: black;
  color: white;
  padding-bottom: 15px;
}
.bestSellerPage {
  padding-bottom: 95px;
}
.footer {
  background-color: black;
  color: white;
  padding-bottom: 105px;
}
